tempfile.txt
C:\Users\MEENAKSHI\Selenium_Trails
C:\Users\MEENAKSHI\IdeaProjects
C:\Users\MEENAKSHI\tab-documentation-api
C:\Users\MEENAKSHI\Google Drive
C:\Users\MEENAKSHI\Dropbox
C:\Users\MEENAKSHI\Desktop\Resumes @QA
C:\Users\MEENAKSHI\Desktop\Selenium Project
C:\Users\MEENAKSHI\Desktop\DSp_top2016
C:\Users\MEENAKSHI\Dropbox (Old)
C:\Users\MEENAKSHI\Favorites
C:\Users\MEENAKSHI\OneDrive
C:\Users\MEENAKSHI\VedicSoftjava
C:\Users\MEENAKSHI\workspace
C:\Users\MEENAKSHI\Searches
C:\Users\MEENAKSHI\Pictures
C:\Users\MEENAKSHI\Downloads